<!doctype html>
<html>
  <head>
    <title>CONTROL!!!! PURGE ME</title>
    <link rel='stylesheet' id='ls-google-fonts-css' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all'/>

    <link rel='stylesheet' id='open-sans-css' href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.1' type='text/css' media='all'/>
   
    <link rel="stylesheet" href="/css/styles.css">

   

</head>
  <body id='<%= (admin)? "admin" : "" %>' >

  <% if (admin) { %>
    <button id="admin-control" data-state="0">block users control</button>
    &nbsp;&nbsp;
    <button id="admin-control-status" >check queue status</button>
    
  <% }  %>


<div class="camera_controls  controls_wrapper">
    
    <div class="user_controls">
      <img src="/images/takeControl.png" class="request">
    </div>

    <div id="message"></div>

    <h2 class="controls">In Control!</h2>

    <button class="controls" data-camera="move=up" id="Aup"><img src="images/upArrow.png" alt="up" style="width:18px"></button>

    <button class="controls" data-camera="move=down" id="Adown"><img src="/images/downArrow.png" alt="down"  style="width:18px"></button>

    <br><br>

    <button class="controls" data-camera="move=left" id="Aleft"><img src="/images/leftArrow.png" alt="left"></button>

    <button class="controls" data-camera="move=right" id="Aright"><img src="/images/rightArrow.png" alt="right"></button>

    <br><br>

    <button  class="controls" data-camera="rzoom=2500" id="Azoomin"><img src="/images/plus.png" alt="zoom in" style="width:18px"></button>

    <button  class="controls" data-camera="rzoom=-2500" id="Azoomout"><img src="/images/minus.png" alt="zoomout" style="width:18px"></button>

    <br><br>
    
   
  </div>


  <div class="motor_controls controls_wrapper">

    <h2>Massage Chair</h2>
    <div class="push_butt">
      <a class="butt controls" data-motor-on="1" data-motor-off="2">PUSH</a>
    </div>

    <div class="push_butt" style="margin-top:35px">
      <a class="butt controls" data-motor-on="3" data-motor-off="4">PUSH</a>
    </div>

    <div class="push_butt" style="margin-top:45px">
      <a class="butt controls" data-motor-on="5" data-motor-off="6">PUSH</a>
    </div>

    <div class="push_butt" style="margin-top:85px">
      <a class="butt controls" data-motor-on="7" data-motor-off="8">PUSH</a>
    </div>


  </div>

  

  

  <!-- <button id="stop_control">STOP CONTROL</button> -->
  <iframe src="about:blank" id="controller" style="width:200px; height:200px; position:absolute; top:4000px; left: -400px;" frameborder="0"></iframe>
  

    
    <form action="" id="messages">
      <input id="m" autocomplete="off" /><a id="admin-message">Send Message to All Users</a>
      <br><br>
      <input id="rm" autocomplete="off" /><a id="admin-reset-message">Send Reset</a>
    </form>
    

<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.js"></script>

  <script src="js/controls.js"></script>

  </body>
</html>